name: Build and Publish Binaries

on:
  workflow_call:
    outputs:
      matrix_info:
        description: List of os / arch information in the build matrix
        value: ${{ jobs.share_matrix_info.outputs.matrix_info }}
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: Tag name to attach binaries to (e.g., v0.9.0-alpha.4)
  pull_request:
  push:

# the build matrix exists as an env var so that we can
# share that info reliably with the "calling" workflow
env:
  BUILD_MATRIX: |
    [
      { "os": "ubuntu-24.04", "shell": "bash" },
      { "os": "macos-latest", "shell": "bash" },
      { "os": "macos-15-intel", "shell": "bash" },
      { "os": "ubuntu-22.04-arm", "shell": "bash" },
      { "os": "windows-latest", "shell": "cmd" }
    ]
jobs:
  # this job exists because we want to store the build matrix as output
  # it will be used in the subsequent job as well as in a "calling" workflow
  share_matrix_info:
    name: Output platform info
    runs-on: ubuntu-latest
    outputs:
      matrix_info: ${{ steps.matrix_info.outputs.matrix_info }}
    steps:
      - id: matrix_info
        run: |
          {
            echo 'matrix_info<<EOF'
            echo '${{ env.BUILD_MATRIX }}'
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  build:
    needs:
      - share_matrix_info
    name: Build Go binary
    strategy:
      matrix:
        runs_on: ${{ fromJson(needs.share_matrix_info.outputs.matrix_info) }}
    runs-on: ${{ matrix.runs_on.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: konveyor/kai

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true

      - name: Build Kai Analyzer
        run: |
          cd kai_analyzer_rpc
          go build -ldflags="-extldflags=-static" -o kai-analyzer-rpc main.go
          cd ..

      - name: lowercase runner.os (linux & mac)
        if: ${{ ! startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          echo "OS=`echo ${{ runner.os }} | tr '[:upper:]' '[:lower:]'`" >>${GITHUB_ENV}

      - name: lowercase runner.os (windows)
        if: ${{ startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          $os_string = "${{ runner.os }}"
          $lowercase_os_string = $os_string.ToLower()
          echo "OS=$lowercase_os_string" >> $env:GITHUB_ENV

      - name: Identify OS Arch (linux & mac)
        if: ${{ ! startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          echo "OS_ARCH=$(uname -m)" >>${GITHUB_ENV}

      - name: Identify OS Arch (windows)
        if: ${{ startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          echo "OS_ARCH=$([System.Runtime.InteropServices.RuntimeInformation]::OSArchitecture)" >> $env:GITHUB_ENV

      - name: Archive binary (linux & mac)
        if: ${{ ! startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          zip -j kai-analyzer-rpc.${{ env.OS }}-${{ env.OS_ARCH }}.zip kai_analyzer_rpc/kai-analyzer-rpc
          cp kai_analyzer_rpc/kai-analyzer-rpc kai-analyzer-rpc-${{ env.OS }}-${{ env.OS_ARCH }}

      - name: Archive binary (windows)
        if: ${{ startsWith(matrix.runs_on.os, 'windows') }}
        run: |
          mv kai_analyzer_rpc\kai-analyzer-rpc kai_analyzer_rpc\kai-analyzer-rpc.exe
          Compress-Archive -Path "kai_analyzer_rpc\kai-analyzer-rpc.exe" -Destination kai-analyzer-rpc.${{ env.OS }}-${{ env.OS_ARCH }}.zip
          Copy-Item kai_analyzer_rpc\kai-analyzer-rpc.exe kai-analyzer-rpc-${{ env.OS }}-${{ env.OS_ARCH }}.exe

      - name: Upload binaries to release
        if: ${{ startsWith(github.ref, 'refs/tags/v') || github.event.inputs.tag }}
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.event.inputs.tag || github.ref_name }}
          artifacts: "kai-analyzer-rpc.${{ env.OS }}-${{ env.OS_ARCH }}.zip,kai-analyzer-rpc-${{ env.OS }}-${{ env.OS_ARCH }}*"
          allowUpdates: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload binaries as artifact
        if: ${{ !(github.event.inputs.tag || startsWith(github.ref, 'refs/tags/v')) }}
        uses: actions/upload-artifact@v4
        with:
          name: kai-analyzer-rpc.${{ env.OS }}-${{ env.OS_ARCH }}.zip
          path: kai-analyzer-rpc.${{ env.OS }}-${{ env.OS_ARCH }}.zip
